
#outerborder{
    border: solid 8px  ; 
    height : 800px ; 
    width: 800px ; 
}
.boxes{
    display: inline-block ; 
    height: 100px ; 
    width: 100px ; 
    float:left; 
}
.black {
    background-color: black ; 
}
.white {
    background-color: white;
}
